body {
  background-color: rgba(0, 0, 0, 1);
  font-family: "Avenir";
  color: rgba(255, 255, 255, 1);
  /* font-family: "Dosis", sans-serif; */
  min-width: 350px;
}

#banner {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  font-size: 4em;
  margin-left: 15%;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.home {
  display: inline-block;
  position: relative;
  top: -5px;
  left: -310px;
  width: 50px;
  height: auto;
}

.home:hover {
  cursor: pointer;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 3px #fcf003;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 3px #fcf003;
  }
}

/*
/////////////////////////////////////
PAGE LAYOUT
/////////////////////////////////////
*/

#login-button {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir";
}

#login-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.9);
  color: rgba(0, 0, 0, 1);
}

#header {
  display: flex;
  justify-content: space-between;
}

#banner-box {
  display: flex;
  justify-content: space-around;
  margin-right: 13%;
}

#body {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

#footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

.footer-button {
  display: inline-block;
  width: 5%;
  height: 2%;
  color: rgba(255, 255, 255, 1);
  margin: 0 15%;
}

.footer-button:hover {
  color: rgba(255, 255, 50, 0.9);
  cursor: pointer;
}

.divider {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
}

/*
/////////////////////////////////////
LOGIN
/////////////////////////////////////
*/

#Login-page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

/*
/////////////////////////////////////
SIGNUP
/////////////////////////////////////
*/

#Signup-page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

/*
/////////////////////////////////////
SEARCH
/////////////////////////////////////
*/

#search {
  display: flex;
}

#search-input {
  display: inline-block;
  height: 35px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  color: black;
  font-family: "Avenir";
}

#search-button {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir";
}

#search-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.9);
  color: rgba(0, 0, 0, 1);
}

#search-card-img {
  margin-top: 10px;
  margin-left: 33px;
  height: 150px;
  width: auto;
}

#search-text-detail {
  text-align: center;
}

/* const styles = StyleSheet.create({
  container: {
    borderColor: '#0a0a0a',
    borderWidth: 2,
    borderRadius: 4,
    padding: 5,
    width: 100,
    height: 50,
    marginTop: '2%',
    alignItems: 'stretch',
    backgroundColor: '#fff',
    alignItems: 'center',
    justifyContent: 'center'
  },
  text: {
    color: 'rgba(50, 5, 255, 1)',
  },
  button: {
    marginRight:40,
    marginLeft:40,
   marginTop:10,
    paddingTop:10,
    paddingBottom:10,
    backgroundColor:'#f5f542',
    borderRadius:10,
    borderWidth: 1,
    borderColor: '#fff'
  },
  input: {
    width: 200,
    height: 50,
    borderColor: '#0a0a0a',
    borderWidth: 2,
    borderRadius: 4,
    padding: 5,
    marginTop: '2%',
    alignItems: 'stretch',
    backgroundColor: '#fff',
    alignItems: 'center',
    justifyContent: 'center'
  }
}); */

/*
/////////////////////////////////////
CAROUSEL
/////////////////////////////////////
*/

#carousel {
  /* background-color: rgba(255, 255, 255, 0.7); */
  display: inline-block;
  /* height: 400px;
  width: 70%;
  border: 2px solid rgba(255, 255, 100, 0.6);
  border-radius: 10px;
  text-align: center;
  align-content: center; */
}

#carouselTitle {
  margin: 100px;
}

.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


#swiper-box {
  display: inline-block;
  height: 400px;
  width: 700px;
}

.swiper-container {
  height: 95%;
}

.swiper-pagination {
  width: 200px;
  height: 20px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  /* background-color: white; */
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  color: white;
  border: 1px solid white;
}

.swiper-pagination-bullet:active {
  width: 10px;
  height: 10px;
}

.swiper-button-prev {
  color: white;
  height: 40px;
  transform: scaleX(-1);
  margin: 0 5px 30% 0;
}

.swiper-button-next {
  color: white;
  height: 40px;
  margin: 0 0 30% 5px;
}

#display-index {
  color: rgba(255, 255, 255, 1);
  z-index: 3;
}

@keyframes glowing {

  0% {
    box-shadow: 0 0 5px #fcf003;
  }
  50% {
    box-shadow: 0 0 20px #fcf003;
  }
  100% {
    box-shadow: 0 0 5px #fcf003;
  }

}

.swiper-button-prev:active {
  animation: glowing 800ms infinite;
}

.swiper-button-next:active {
  animation: glowing 500ms infinite;
}


/*
/////////////////////////////////////
VIDEO CARDS
/////////////////////////////////////
*/

.video-card {
  display: inline-block;
  height: 97%;
  width: 97%;
  color: white;
  border: 1px solid rgba(255, 255, 0, 0.7);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 2px;
}

.swiper-slide {
  height: 80%;
}


/*
/////////////////////////////////////
WATCHLIST
/////////////////////////////////////
*/

#Watchlist-page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 45%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

/*
/////////////////////////////////////
USER SETTINGS
/////////////////////////////////////
*/
.hide {
  display: none;
}

.icon:hover {
  cursor: pointer;
}

#Settings-page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

/*
ACCOUNT
--------------------------------------
*/

.close {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  /* top: 0.2rem; */
  right: 1rem;
  font-size: 1.3rem;
}

#account {
  position: relative;
}

#user-info {
  text-align: center;
}

.edit-account {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: rgba(255, 255, 0, 0.9);
}

.edit-account:hover {
  transform: translate(0, -1px);
  cursor: pointer;
}

.button {
  padding: 0.5rem 0.8rem;
  background-color: rgb(199, 199, 199);
  border: 1px solid black;
  border-radius: 12px;
  font-family: "Avenir";
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 81, 0.9);
  color: rgb(62, 62, 62);
  font-weight: 500;
  transform: translate(0, -1px);
}

table {
  margin: 20px auto;
}

.table-field {
  text-align: right;
}

.table-input {
  text-align: left;
}

/*
EDIT_USER
--------------------------------------
*/
#update-box {
  height: 55%;
  width: 90%;
  max-width: 450px;
  z-index: 2;
  background-color: #c4c4c4;
  color:rgba(0, 0, 0, 1);
  position: relative;
  margin: 50px auto;
  padding: 7px;
  border-radius: 4px;
}

#update-close {
  color:rgba(0, 0, 0, 1);
}

.update-form {
  margin: 10% auto;
}

.update-label {
  font-family: inherit;
  display: block;
  margin: 5px auto;
}

.update-input {
  margin: 7px auto;
  width: 75%;
  height: 1.7rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}

input:focus {
  outline: none !important;
  border:1px solid rgba(255, 255, 0, 0.9);
  box-shadow: 0 0 2px #dcdddf;
}

#update-btn {
  color: rgba(255, 255, 0, 0.9);
  background-color: rgb(62, 62, 62);
  border: 0.5px solid rgb(62, 62, 62);
  border-radius: 10px;
  height: 2.5rem;
  font: inherit;
  padding: 5px;
  margin: auto;
  display: block;
}

#update-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.6);
  color: rgb(62, 62, 62);
}

/*
STREAM_LIST
--------------------------------------
*/
.stream-list {
  border: 0.5px solid rgba(255, 255, 0, 0.9);
  text-align: left;
  margin: 3% auto;
  padding: 3px;
  width: 90%;
  height: 10rem;
  overflow-y: auto;
}

#stream-title {
  margin: 0.2rem 1rem;
  display: inline-block;
}

.add {
  display: inline-block;
  color: rgba(255, 255, 0, 0.9);
  margin: 0 3%;
  font-size: 1.5em;
}

#stream-container {
  padding-top: 0.75rem;
  margin: 0 auto;
}

/*
STREAM_CHECKBOXES
--------------------------------------
*/

.checkbox {
  margin-left: 1rem;
}

.checkbox[type="checkbox"]:checked {
  accent-color: rgba(159, 252, 83, 0.9);;
}

.stream-label {
  position: relative;
}

.stream-label .hover-text {
  visibility: hidden;
  position: absolute;
  padding: 0.1rem 0.3rem;
  top: 18px;
  left: 15px;
  font-size: 0.7rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 4px;
  z-index: 1;
}

.stream-label:hover {
  cursor: pointer;
}

.stream-label:hover .hover-text {
  cursor: pointer;
  visibility: visible;
}

/*
STREAM_STORE
-------------------------------------
*/
#close-store {
  top: 1rem;
}

 #filter-list {
  position: relative;
  display: inline-block;
  justify-content: left;
  margin-right: 15%;
  margin-bottom: 3%;
  font-size: 90%;
}

#stream-search {
  position: relative;
  display: inline-block;
  justify-content: right;
  margin-left: 15%;
  margin-bottom: 5%;
}

#search-bar {
  color:rgb(199, 199, 199);
  padding-left: 0.5rem;
  border: 0;
  border-bottom: 0.5px solid rgba(255, 255, 0, 0.9);
  outline: 0;
  background: transparent;
  transition: border-color 0.2s;
}

#search-bar::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.75;
}

#search-bar:hover::placeholder {
  color: black;
  opacity: 0.8;
}

#search-bar:hover {
  background-color: #c4c4c4;
  color: black;
}

#search-btn {
  color: rgba(255, 255, 0, 0.6);
  font-weight:lighter;
  padding-left: 4px;
  transition: .2s transform ease-in-out;
}

#search-btn:hover {
  color: rgb(255, 255, 81);
  filter: blur(0.5px);
  transform: translate(0, 2px);
}

#stream-grid {
  margin: 2px auto;
  padding: 0.5rem;
  height: 275px;
  max-width: 500px;
  border: 0.5px solid rgba(255, 255, 0, 0.9);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(67px, 1fr));
    grid-gap: 2% 5%;
  overflow: hidden;
}

.stream {
  border: 0.5px solid rgba(255, 255, 255, 0.7);
  padding: 0.3rem;
  height: 80px;
  width: 70px;
  margin: 0 auto;
}

.card-icon {
  float: right;
  color: rgba(255, 255, 0, 0.9);
  font-size: 0.6rem;
}

.stream-img {
  height: 50px;
  width: 50px;
  float: left;
}

.stream-info {
  font-size: 0.3rem;
  line-height: .5rem;
  clear: both;
  text-align: left;
  vertical-align: bottom;
}

.remove-stream {
  color: rgba(255, 255, 0, 0.9);
  font-size: 0.7rem;
  transform: translate(0, -4px);
}

.subscribed {
  border: 1.5px solid rgba(159, 252, 83, 0.9);
}

#pages {
  position: relative;
  margin: 2px auto;
  vertical-align: bottom;
  font-size: 0.65rem;
}

#store {
  padding: 50px 10px;
  height: 100%;
  overflow: hidden;
}

/*
/////////////////////////////////////
MEDIA QUERIES / RESPONSIVE DESIGN
/////////////////////////////////////
*/

@media only screen and (max-width: 600px) {
  #carousel {
    height: 300px;
    width: 70%;
  }
  #footer {
    margin-top: 20%;
  }
}
