body {
  background-color: rgba(0, 0, 0, 1);
  font-family: "Avenir";
  color: rgba(255, 255, 255, 1);
  /* font-family: "Dosis", sans-serif; */
  min-width: 350px;
}

#banner {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  font-size: 4em;
  margin-left: 15%;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.home {
  display: inline-block;
  position: relative;
  top: -5px;
  left: -310px;
  width: 50px;
  height: auto;
}

.home:hover {
  cursor: pointer;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 3px #fcf003;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 3px #fcf003;
  }
}

/*
/////////////////////////////////////
PAGE LAYOUT
/////////////////////////////////////
*/

#loginButton {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir";
}

#loginButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.9);
  color: rgba(0, 0, 0, 1);
}

#header {
  display: flex;
  justify-content: space-between;
}

#bannerBox {
  display: flex;
  justify-content: space-around;
  margin-right: 13%;
}

#body {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

#footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

.footerButton {
  display: inline-block;
  width: 5%;
  height: 2%;
  color: rgba(255, 255, 255, 1);
  margin: 0 15%;
}

.footerButton:hover {
  color: rgba(255, 255, 50, 0.9);
  cursor: pointer;
}

.divider {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
}

/*
/////////////////////////////////////
LOGIN
/////////////////////////////////////
*/

#Login_page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

/*
/////////////////////////////////////
SIGNUP
/////////////////////////////////////
*/

#Signup_page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

/*
/////////////////////////////////////
SEARCH
/////////////////////////////////////
*/

#search {
  display: flex;
}

#searchInput {
  display: inline-block;
  height: 35px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir";
}

#searchButton {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir";
}

#searchButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.9);
  color: rgba(0, 0, 0, 1);
}

/* const styles = StyleSheet.create({
  container: {
    borderColor: '#0a0a0a',
    borderWidth: 2,
    borderRadius: 4,
    padding: 5,
    width: 100,
    height: 50,
    marginTop: '2%',
    alignItems: 'stretch',
    backgroundColor: '#fff',
    alignItems: 'center',
    justifyContent: 'center'
  },
  text: {
    color: 'rgba(50, 5, 255, 1)',
  },
  button: {
    marginRight:40,
    marginLeft:40,
   marginTop:10,
    paddingTop:10,
    paddingBottom:10,
    backgroundColor:'#f5f542',
    borderRadius:10,
    borderWidth: 1,
    borderColor: '#fff'
  },
  input: {
    width: 200,
    height: 50,
    borderColor: '#0a0a0a',
    borderWidth: 2,
    borderRadius: 4,
    padding: 5,
    marginTop: '2%',
    alignItems: 'stretch',
    backgroundColor: '#fff',
    alignItems: 'center',
    justifyContent: 'center'

  }
}); */

/*
/////////////////////////////////////
CAROUSEL
/////////////////////////////////////
*/

#carousel {
  /* background-color: rgba(255, 255, 255, 0.7); */
  display: inline-block;
  /* height: 400px;
  width: 70%;
  border: 2px solid rgba(255, 255, 100, 0.6);
  border-radius: 10px;
  text-align: center;
  align-content: center; */
}

#carouselTitle {
  margin: 100px;
}

.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


#swiperBox {
  display: inline-block;
  height: 400px;
  width: 500px;
}

.swiper-container {
  height: 95%;
}

.swiper-pagination {
  width: 200px;
  height: 20px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  /* background-color: white; */
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  color: white;
  border: 1px solid white;
}

.swiper-pagination-bullet:active {
  width: 10px;
  height: 10px;
}

.swiper-button-prev {
  color: white;
  height: 40px;
  transform: scaleX(-1);
  margin: 0 5px 30% 0;
}

.swiper-button-next {
  color: white;
  height: 40px;
  margin: 0 0 30% 5px;
}

#displayIndex {
  color: rgba(255, 255, 255, 1);
  z-index: 3;
}

@keyframes glowing {

  0% {
    box-shadow: 0 0 5px #fcf003;
  }
  50% {
    box-shadow: 0 0 20px #fcf003;
  }
  100% {
    box-shadow: 0 0 5px #fcf003;
  }

}

.swiper-button-prev:active {
  animation: glowing 800ms infinite;
}

.swiper-button-next:active {
  animation: glowing 500ms infinite;
}


/*
/////////////////////////////////////
VIDEO CARDS
/////////////////////////////////////
*/

.videoCard {
  display: inline-block;
  height: 97%;
  width: 97%;
  color: white;
  border: 1px solid rgba(255, 255, 0, 0.7);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 6px;
}

.swiper-slide {
  height: 80%;
}


/*
/////////////////////////////////////
WATCHLIST
/////////////////////////////////////
*/

#Watchlist_page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 45%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

/*
/////////////////////////////////////
USER SETTINGS
/////////////////////////////////////
*/
.hide {
  display: none;
}

#Settings_page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

#close {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
}

.userInfo {
  text-align: center;
}

.button {
  padding: 0.5rem 0.8rem;
  background-color: rgb(199, 199, 199);
  border: 1px solid black;
  border-radius: 12px;
  /* color: rgba(255, 255, 255, 1); */
  font-family: "Avenir";
  font-weight: 500;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.9);
}

table {
  margin: 20px auto;
}

.tableField {
  text-align: right;
}

.tableInput {
  text-align: left;
}

.add {
  display: inline-block;
  color: rgba(255, 255, 0, 0.9);
  margin: 0 20px;
  font-size: 1.5em;
}

.streamList {
  border: 0.5px solid rgba(255, 255, 0, 0.9);
  text-align: left;
  margin: 20px auto;
  width: 90%;
  height: 10.5rem;
}

#streamTitle {
  margin: 0.2rem 1rem;
  display: inline-block;
}

#streamContainer {
  padding-top: 0.75rem;
  margin: 0 auto;
}

.box {
  margin-left: 1rem;
}

.box[type="checkbox"]:checked {
  accent-color: green;
}

/*
/////////////////////////////////////
MEDIA QUERIES / RESPONSIVE DESIGN
/////////////////////////////////////
*/

@media only screen and (max-width: 600px) {
  #carousel {
    height: 300px;
    width: 70%;
  }
  #footer {
    margin-top: 20%;
  }
}
