body {
  background-color: rgba(0, 0, 0, 1);
  font-family: "Avenir";
  color: rgba(255, 255, 255, 1);
  min-width: 320px;
}

#banner {
  display: inline-block;
  /* color: rgba(255, 255, 255, 1);
  font-size: 4em; */
  margin-left: 15%;
}



.home {
  display: inline-block;
  position: relative;
  width: 50px;
  height: auto;
}

.home:hover {
  cursor: pointer;
}



/*
/////////////////////////////////////
PAGE LAYOUT
/////////////////////////////////////
*/


#header {
  display: flex;
  justify-content: space-between;
}

#banner-box {
  display: flex;
  justify-content: space-around;
  margin-right: 13%;
}

#body {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

#footer {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
}

.footer-button {
  display: inline-block;
  width: 5%;
  height: 2%;
  color: rgba(255, 255, 255, 1);
  margin: 0 15%;
  animation: glitch 2000ms;
}

.footer-button:hover {
  color: rgba(255, 255, 50, 0.9);
  cursor: pointer;
}

.buttonUnfocus {
  color: rgba(255, 255, 255, 1);
}

.button-focus {
  color: rgba(255, 255, 50, 0.9);
}


.divider {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
}

#Watchlist-page {
  margin-top: -50px;
}


/*
/////////////////////////////////////
LOGIN
/////////////////////////////////////
*/


#Login-page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

#home-login {
  top: -15px;
  left: 240px;
}

#login-button {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir";
}

#login-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.9);
  color: rgba(0, 0, 0, 1);
}



/*
/////////////////////////////////////
SIGNUP
/////////////////////////////////////
*/


#Signup-page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

#home-signup {
  top: -5px;
  left: -310px;
}

#signup-button {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir";
}

#signup-button:hover {
  background-color: rgba(255, 135, 0, 0.9);
  color: rgba(0, 0, 0, 1);
}

#welcome-message {
  display: inline-block;
  margin-left: 20px;
  font-size: .9em;
  color: rgba(255, 100, 0, 1.0);
}


/*
/////////////////////////////////////
SEARCH
/////////////////////////////////////
*/


#search {
  display: flex;
}

#search-input {
  display: inline-block;
  height: 35px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  color: black;
  font-family: "Avenir";
}

#search-button {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir";
}

#search-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.9);
  color: rgba(0, 0, 0, 1);
}



/*
/////////////////////////////////////
DESKTOP CAROUSEL
/////////////////////////////////////
*/


#carousel {
  display: inline-block;
  height: 500px;
  width: 830px;
  margin-top: -50px;
}

#desktop-carousel {
  display: inline-block;
  height: 500px;
  width: 830px;
  margin-top: -50px;
}

#mobile-carousel {
  display: none;
  margin-top: 50px;
}

#carousel-box {
  height: 500px;
}

#carouselTitle {
  margin: 100px;
}

.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#swiper-box {
  display: inline-block;
  height: 500px;
  width: 750px;
  /* margin-left: 30px; */
  margin: 0 auto;
}

.swiper-container {
  height: 95%;
}

.swiper-pagination {
  width: 200px;
  height: 20px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  /* background-color: white; */
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  color: white;
  border: 1px solid white;
}

.swiper-pagination-bullet:active {
  width: 10px;
  height: 10px;
}

.swiper-button-prev {
  color: white;
  height: 40px;
  transform: scaleX(-1);
  margin: 0 5px 30% 0;
}

.swiper-button-next {
  color: white;
  height: 40px;
  margin: 0 0 30% 0px;
}

#display-index {
  color: rgba(255, 255, 255, 1);
  z-index: 3;
}

@keyframes glowing {

  0% {
    box-shadow: 0 0 5px #fcf003;
  }

  50% {
    box-shadow: 0 0 20px #fcf003;
  }

  100% {
    box-shadow: 0 0 5px #fcf003;
  }

}

.swiper-button-prev:active {
  animation: glowing 800ms infinite;
}

.swiper-button-next:active {
  animation: glowing 500ms infinite;
}

#search-card-img {
  margin-top: 0px;
  margin-left: 0px;
  /* height: 243px;
  width: auto; */
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#mobile-search-card-img {
  margin: 5px auto 0;
  width: 70%;
  height: auto;
  border-radius: 5px;
}

#search-text-detail {
  text-align: center;
}

#mobile-search-text-detail {
  text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgba(255, 255, 50, 0.9);
  cursor: pointer;
}

#search-card-description {
  font-size: 11px;
}

#mobile-search-card-description {
  font-size: 11px;
}

#search-card-rating1 {
  font-size: 12px;
}

#mobile-search-card-rating1 {
  font-size: 12px;
}

#search-card-rating2 {
  font-size: 10px;
}

#mobile-search-card-rating2 {
  font-size: 10px;
}

#search-card-title {
  font-size: 17px;
}

#mobile-search-card-title {
  font-size: 17px;
}

#search-card-sources {
  font-size: 10px;
}

#search-card-see-more {
  font-size: 10px;
}

/*
/////////////////////////////////////
MOBILE CAROUSEL
/////////////////////////////////////
*/

#mobile-carousel {
  display: none;
  height: 500px;
  width: 97%;
  margin-top: -50px;
}

#mobile-swiper-box {
  display: inline-block;
  height: 500px;
  width: 80%;
  /* margin-left: 30px; */
  margin: 40px auto 0;
}

#mobile-carousel-label {
  position: absolute;
  top: 135px;
}



/*
/////////////////////////////////////
VIDEO CARDS
/////////////////////////////////////
*/


.video-card {
  display: inline-block;
  height: 80%;
  width: 90%;
  color: white;
  border: 1px solid rgba(255, 255, 0, 0.7);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.0);
  margin-left: 2px;
  margin-top: 40px;
  transition: transform 100ms ease-in-out 25ms;
}

.mobile-video-card {
  display: inline-block;
  text-align: center;
  height: 80%;
  width: 95%;
  color: white;
  border: 1px solid rgba(255, 255, 0, 0.7);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.0);
  margin-left: 2px;
  margin-top: 40px;
  transition: transform 100ms ease-in-out 25ms;
}

#mobile-video-card-info {
  display: none;
}

.video-card:hover {
  transform: scale(1.10) !important;
  /* T */
  box-shadow: 0 0 10px #fcf003;
  cursor: pointer
}

#video-card {
  display: inline-flex;
  height: 97%;
  width: 97%;
  color: white;
  border: 1.3px solid rgba(255, 255, 0, 0.9);
  border-radius: 5px;
  margin-left: 2px;
}

#video-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#single-mobile-video-card {
  display: none;
}

#video-card-info>* {
  flex: 1 100%
}

#video-card-overview {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 10px 10px;
  order: 2;
  max-width: 39%;
  font-size: small;
}

#video-card-blurb {
  order: 2;
  font-size: 1.2em;
}

#video-card-blurb-box {
  overflow: scroll;
  height: 45%;
}

#video-card-rating {
  order: 3;
  font-size: 1.1em;
  margin-top: 10px;
}

#video-card-title {
  order: 0;
  font-size: 2.1em;
}

#video-card-metadata {
  order: 1;
  font-size: 1.2em;
  margin-top: 20px;
}

#video-card-billboard {
  object-fit: cover;
  order: 1;
  border-radius: 15px;
  max-height: 50%;
  width: 39%;
  max-width: 39%;
}

#video-card-platforms {
  order: 3;
  margin: auto 4px auto 0;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 20px;
  max-width: 19%;
  max-height: 80%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}

#video-card-platforms::-webkit-scrollbar {
  display: none;
  /*for Chrome, Safari, Opera*/
}

#video-card-add-to-watchlist-button {}

.swiper-slide {}

#Title-page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 45%;
  width: 60%;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

#home-title {
  position: absolute;
  width: 30px;
  height: auto;
  top: 0px;
  left: 525px;
}

.platformLink:hover {
  color: rgba(255, 185, 50, 1)
}

.subscribedLink {
  text-decoration: underline dotted;
  border: 1px solid rgba(173, 255, 47, 0.6);
  border-radius: 5px;
}

.platformLink .subscribedLink {
  margin-top: 3px;
}



/*
/////////////////////////////////////
WATCHLIST
/////////////////////////////////////
*/


#Watchlist-page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 60%;
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: black;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

#home-watchlist {
  position: absolute;
  top: 0px;
  left: 590px;
}

.watch_title {
  font-size: xxx-large;
  margin-left: 10px;
  margin-right: 10px;
}

.content_title {
  padding: 5px;
  font-weight: bold;
  font-size: medium;
}

.listWrapper {
  display: flex;
}

.listContainer {
  display: flex;
  padding: 0 30px;
  /* T */
  align-items: center;
  height: 400px;
  justify-content: space-around;
  /* background-color: black; */
}

.listContainer:hover .listItem {
  transform: translateX(-25%);
  /* T */
}

.listItem:hover~.listItem {
  transform: translateX(25%);
  /* T */
}

.listItem:hover {
  transform: scale(1.25) !important;
  /* T */
  box-shadow: 0 0 10px #fcf003;
  cursor: pointer
}

.listItem {
  position: relative;
  flex: 0 0 19.7%;
  /* T */
  text-align: center;
  /* T */
  align-content: center;
  /* margin: 0 2px; T */
  padding-top: 10px;
  background-color: black;
  /* T */
  transition: transform 300ms ease 100ms;
  /* T */
  border: solid 1px rgba(255, 255, 0, 0.9);
  border-radius: 20px;
  height: 37vh;
  width: 20vw;
}

.removeBtn {
  position: absolute center;
  bottom: 5px;
  background-color: black;
  color: white;
  font-weight: lighter;
  font-size: x-small;
  border-radius: 20px;
  height: 10px;
  width: 10vw;
  border: none;
}

.removeBtn:hover {
  color: red;
  cursor: pointer;
}

.contentDetail {
  font-size: small;
  font-weight: 100;
  align-content: center;
}

.watchImg {
  max-height: 25vh;
  max-width: 30vw;
  border-radius: 20px;
}

.watchlist_more {
  background-color: black;
  border-radius: 5px;
  border: solid rgba(255, 255, 0, 0.9);
  color: white;
  margin-top: 10px;
  height: 30px;
  width: 15%;
}

.dropdownContainer {
  position: absolute center;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  margin-bottom: 10px;
  /* margin-left: 60px; */
  background-color: black;
  border: solid 1px rgba(255, 255, 0, 0.9);
  height: 80px;
  width: auto;
}

.dropdown {
  /* border: solid rgba(255, 255, 0, 0.9); */
  border: black;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
  height: 30px;
  width: 100%;
}

.navContainer {
  display: flex;
  justify-content: center;
}



/*
/////////////////////////////////////
USER SETTINGS
/////////////////////////////////////
*/


.hide {
  display: none;
}

#Settings-page {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 70%;
  min-width: 225px;
  max-width: 650px;
  padding: 5%;
  background-color: rgba(81, 81, 81, 0.264);
  border: solid rgba(255, 255, 0, 0.8);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

#home-settings {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

#settings-container {
  position: relative;
}



/*
/////////////////////////////////////
ACCOUNT
/////////////////////////////////////
*/


.close {
  color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 1.3rem;
}

#account {
  position: relative;
  margin: 0 auto;
  min-width: 225px;
}

#user-info {
  text-align: center;
}

.edit-account {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: rgba(255, 255, 0, 0.9);
}

.edit-account:hover {
  transform: translate(0, -1px);
  cursor: pointer;
}

.button {
  padding: 0.5rem 0.8rem;
  background-color: rgb(199, 199, 199);
  border: 1px solid black;
  border-radius: 12px;
  font-family: "Avenir";
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 81, 0.9);
  color: rgb(62, 62, 62);
  font-weight: 500;
  transform: translate(0, -1px);
}

table {
  margin: 20px auto;
  max-width: 350px;
}

.table-field {
  text-align: right;
}

.table-input {
  text-align: left;
}

#user-table {
  letter-spacing: 0.03rem;
  font-size: 95%;
}

.account-heading {
  letter-spacing: 0.03rem;
  font-size: 200%;
}



/*
/////////////////////////////////////
EDIT_USER
/////////////////////////////////////
*/


#update-box {
  height: 55%;
  width: 90%;
  max-width: 450px;
  z-index: 2;
  background-color: #c4c4c4;
  color: rgba(0, 0, 0, 1);
  position: relative;
  margin: 50px auto;
  padding: 7px;
  border-radius: 20px;
}

#update-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(0, 0, 0, 1);
}

#update-close:hover {
  transform: scale(1.25);
  font-size: 1000;
  filter: blur(0.2px);
  cursor: pointer;
}

.update-form {
  margin: 10% auto;
}

.update-label {
  font-family: inherit;
  display: block;
  margin: 5px auto;
}

.update-input {
  margin: 7px auto;
  width: 75%;
  height: 1.7rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 15px;
}

input:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 0, 0.9);
  box-shadow: 0 0 2px #dcdddf;
}

#update-btn {
  color: rgba(255, 255, 0, 0.9);
  background-color: rgb(62, 62, 62);
  border: 0.5px solid rgb(62, 62, 62);
  border-radius: 10px;
  height: 2.5rem;
  font: inherit;
  padding: 5px;
  margin: auto;
  display: block;
}

#update-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.6);
  color: rgb(62, 62, 62);
}



/*
/////////////////////////////////////
STREAM_LIST
/////////////////////////////////////
*/


.stream-list {
  border: 0.5px solid rgba(255, 255, 0, 0.9);
  border-radius: 20px;
  background-color: black;
  text-align: left;
  margin: 3% auto;
  padding: 5px;
  width: 90%;
  height: 225px;
  min-width: 200px;
  max-width: 500px;
  overflow-y: hidden;
}

.stream-list::-webkit-scrollbar {
  display: none;
}

#stream-title {
  margin: 0.2rem 1rem;
  display: inline-block;
  font-size: 150%;
}

.add {
  display: inline-block;
  color: rgba(255, 255, 0, 0.9);
  margin: 0 3%;
  font-size: 1.5em;
}

.icon:hover {
  transform: scale(1.25);
  font-size: 1000;
  filter: blur(0.2px);
  cursor: pointer;
}

#stream-container {
  padding-top: 0.75rem;
  padding-right: 10px;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
}

#stream-container::-webkit-scrollbar {
  display: none;
}



/*
/////////////////////////////////////
STREAM_CHECKBOXES
/////////////////////////////////////
*/


.stream {
  display: inline-block;
}

.checkbox {
  margin-left: 1rem;
}

.checkbox:hover {
  transform: scale(1.25);
  box-shadow: 0 0 3px #fcf003;
  cursor: pointer;
}

.checkbox[type="checkbox"]:checked {
  accent-color: rgba(242, 255, 0, 0.9);
  ;
}

.stream-label {
  position: relative;
  line-height: 2rem;
}

.stream-label .hover-text {
  visibility: hidden;
  position: absolute;
  padding: 0.1rem 0.3rem;
  top: 18px;
  left: 15px;
  font-size: 0.7rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 4px;
  z-index: 1;
}

.stream-label:hover {
  cursor: pointer;
}

.stream-label:hover .hover-text {
  cursor: pointer;
  visibility: visible;
}

.hover-text {
  line-height: 0.9rem;
}



/*
/////////////////////////////////////
STREAM_STORE
/////////////////////////////////////
*/


#filter-list {
  position: relative;
  display: inline-block;
  border: solid 1px rgba(255, 255, 0, 0.9);
  border-radius: 12px;
  margin: 3% 2%;
  padding: 1.5% 5% 1% 2%;
  /* font-size: 90%; */
  width: 150px;
}

#stream-search {
  position: relative;
  display: inline-block;
  margin-bottom: 2%;
  padding: 0 6% 0 11%;
  min-width: 195px;
}

#search-bar {
  color: #fbfbfbd4;
  padding-left: 0.5rem;
  border: 0;
  border-bottom: 0.5px solid rgba(255, 255, 0, 0.9);
  outline: 0;
  background: transparent;
  transition: border-color 0.2s;
  font-size: 0.95rem;
}

#search-bar:hover {
  background-color: #fbfbfbd4;
  color: black;
  opacity: 0.75;
  line-height: 1.25rem;
  border-radius: 8px;
  transform: scale(1.01);
}

#search-bar:focus {
  background-color: #fbfbfbd4;
  opacity: 0.75;
  line-height: 1.25rem;
  border-radius: 8px;
  color: black;
}

#search-bar::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.75;
  padding-left: 0.3rem;
}

#search-bar:hover::placeholder {
  color: black;
  opacity: 0.8;
}

#search-bar:focus::placeholder {
  color: black;
  opacity: 0.8;
}

input:focus+#search-x {
  color: black;
}

#search-bar:hover+#search-x {
  color: black;
}

#search-x {
  position: absolute;
  top: 0.2rem;
  right: 3.85rem;
  z-index: 2;
  width: 160;
}

#search-btn {
  color: rgba(242, 255, 0, 0.9);
  font-weight: lighter;
  padding-left: 4px;
  transition: .1s transform ease-in-out;
}

#search-btn:hover {
  color: rgb(242, 255, 0);
  filter: blur(0.2px);
  transform: scale(1.25);
  cursor: pointer;
}

#grid-container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  height: 305px;
  background-color: black;
  border: 0.5px solid rgba(255, 255, 0, 0.9);
  border-radius: 20px;
  max-width: 500px;
  overflow-y: hidden;
}

#stream-grid {
  position: relative;
  box-sizing: border-box;
  transition: 0.5s all ease-out;
  background-color: black;
  margin: 0 auto;
  padding: 8px 1.5rem;
  height: 290px;
  max-width: 500px;
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(105px, auto));
  grid-auto-rows: minmax(124px, auto);
  grid-gap: 30px;
  justify-content: space-around;
  justify-items: center;
  align-items: start;
  align-content: start;
}

#stream-grid::-webkit-scrollbar {
  display: none;
}

.stream-card {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0.5px solid rgb(156, 152, 152);
  border-radius: 8px;
  box-shadow: 0.5px 0 0.3px #fff, -0.5px 0 0.3px #fff, 0 0.5px 0.3px #fff,
    0 -0.5px 0.3px #fff;
  padding: 0.4rem;
  padding-bottom: 3px;
  height: 124px;
  width: 105px;
  /* margin: 0 auto; */
}

.stream-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #fcf003;
  cursor: pointer;
}

.card-icon {
  float: right;
  color: rgba(255, 255, 0, 0.9);
  font-size: 0.8rem;
}

.stream-img {
  height: 75px;
  width: 82px;
  margin: 0 auto;
  /* float: left; */
  padding-bottom: 3px;
  grid-area: a;
}

/* .stream-title {

} */

.stream-options {
  /* padding-top: 4px; */
  padding-right: 5px;
  white-space: nowrap;
  grid-area: b;
  align-content: end;

}

.cost {
  grid-area: c;
}

.stream-info {
  clear: both;
  font-size: 0.8rem;
  line-height: 0.55rem;
  letter-spacing: 0.0.9em;
  text-shadow: 0.5px 0.5px 0.5px #7e7e7e;
  text-align: left;
  display: grid;
  grid-template-areas: "a"
    "b"
    "c";
  justify-content: start;
  row-gap: 4px;
}

.remove-stream {
  color: rgba(255, 255, 0, 0.9);
  font-size: 0.7rem;
  transform: translate(0, -4px);
}

.subscribed {
  border: 1.5px solid rgb(242, 255, 0);
  box-shadow: 0 0 10px #fcf003;
}

#pages {
  position: relative;
  margin: 0.5rem auto;
  /* vertical-align: bottom; */
  font-size: 1.5rem;
  color: #fcf003;
}

.arrow {
  display: inline-block;
}

.arrow:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.arrow-span {
  margin: 0 2px;
}

#store {
  padding: 50px 10px;
  height: 100%;
  overflow: hidden;
}



/*
/////////////////////////////////////
MEDIA QUERIES / RESPONSIVE DESIGN
/////////////////////////////////////
*/


/* @media only screen and (max-width: 600px) {
  #carousel {
    height: 300px;
    width: 70%;
  }
  #footer {
    margin-top: 20%;
  }
} */

@media only screen and (max-width: 840px) {
  #carousel {
    width: 95%;
    margin-top: -20px;
  }

  #carousel-box {
    width: 95%;
    text-align: center;
  }

  #swiper-box {
    width: 95%;
  }

  #mobile-carousel {
    display: inline-block;
  }

  #desktop-carousel {
    display: none;
  }

  #banner {
    width: 80%;
    height: auto;
  }

  #trending-button {
    margin: 0 auto;
  }

  .swiper-container {
    width: 100%;
  }

  .swiper-container {
    height: 100%;
  }

  #mobile-carousel {
    height: 100%;
  }

  #mobile-swiper-box {
    height: 100%;
  }

}

@media only screen and (max-width: 480px) {

  #login-button {
    height: 35px;
    width: 50px;
  }

  #signup-button {
    height: 35px;
    width: 50px;
  }

  #search-input {
    height: 30px;
    width: 80px;
  }

  #search-button {
    height: 35px;
    width: 50px;
  }

  #welcome-message {
    font-size: .9em;
  }

  .mobile-video-card {
    height: 90%;
  }

  #Title-page {
    width: 95%;
    height: 70%;
  }

  #video-card-platforms {
    margin: 4px 4px 0 0;
  }

  #video-card-blurb {
    overflow: hidden;
  }

  #video-card-blurb-box {
    overflow: scroll;
    height: 90px;
  }

  #mobile-video-card-billboard {
    object-fit: cover;
    order: 1;
    border-radius: 15px;
    height: 200px;
    width: 95%;
    margin-top: 5px;
  }

  #video-card-info {
    display: flex;
    flex-direction: column;
  }

  #video-card-overview {
    max-width: 90%;
  }

  #video-card-info {
    display: flex;
    flex-direction: row;
  }

  #video-card {
    display: none;
  }

  #single-mobile-video-card {
    display: flex;
    flex-direction: row;
    height: 97%;
    width: 97%;
    color: white;
    border: 1.3px solid rgba(255, 255, 0, 0.9);
    border-radius: 5px;
    margin-left: 2px;
  }

}

@media only screen and (max-width: 470px) {
  #mobile-carousel-label {
    top: 125px;
  }

  #welcome-message {
    font-size: .8em;
    margin-left: 5px;
  }

  #banner {
    width: 76%;
    height: auto;
  }

  .mobile-video-card {
    height: 87%;
  }
}

@media only screen and (max-width: 440px) {
  #mobile-carousel-label {
    top: 115px;
    font-size: .9em;
  }

  .mobile-video-card {
    height: 84%;
  }
}

@media only screen and (max-width: 430px) {
  #carousel {
    height: 470px;
  }
}

@media only screen and (max-width: 420px) {
  .mobile-video-card {
    height: 81%;
  }
}

@media only screen and (max-width: 410px) {
  #login-button {
    height: 30px;
    width: 45px;
    font-size: .7em;
  }

  #signup-button {
    height: 30px;
    width: 45px;
    font-size: .7em;
  }

  #search-input {
    height: 25px;
    width: 80px;
    font-size: .7em;
  }

  #search-button {
    height: 30px;
    width: 45px;
    font-size: .7em;
  }

  #welcome-message {
    font-size: .9em;
  }

  .mobile-video-card {
    height: 76%;
  }

  #welcome-message {
    font-size: .7em;
    margin-left: 5px;
  }

  #mobile-carousel-label {
    top: 110px;
  }
}

@media only screen and (max-width: 400px) {
  #mobile-carousel-label {
    top: 118px;
  }

  #welcome-message {
    display: block;
  }

  .swiper-button-prev {
    height: 30px;
    transform: scaleX(-1);
    margin: 0 5px 30% 0;
  }

  .swiper-button-next {
    height: 30px;
    margin: 0 0 30% 0px;
  }

  #carousel {
    height: 450px;
  }
}

@media only screen and (max-width: 400px) {
  #mobile-carousel-label {
    top: 113px;
  }
}